<div class="page-header">
  <h1><%= @story.title %><br> <small>Written by <%= @story.user.try!(:name) %></small></h1>
</div>

<div>
  <%= raw @story.body %>
</div>

<div class="btn-group">
  <%= link_to 'Read Story', @story, class: "btn btn-primary" %>
</div>

<% if @story.user == current_user %>
  <div class="btn-group">
    <%= link_to 'Edit', edit_story_path(@story), class: "btn btn-default" %>
    <%= link_to 'Delete', @story, method: :delete, data: {confirm: 'Are you sure you want to delete?'}, class: "btn btn-default" %>
  </div>
<% end %>

<div class="btn-group pull-right">
  <%= link_to like_story_path(@story), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-up"></span>
    Upvote
    <%= @story.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_story_path(@story), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-down"></span>
    Downvote
    <%= @story.get_downvotes.size %>
  <% end %>
</div>

<h3 class="comments-title">
  <%= @story.comments.count %> Comments
</h3>

<div class="comments">
  <%= render partial: @story.comments %>
</div>
<%= simple_form_for [@story, Comment.new] do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>
